#

In [223]:
import requests

In [170]:
from bs4 import BeautifulSoup

In [171]:
import pandas as pd

In [172]:
url = "https://www.eia.gov/dnav/pet/hist/leafhandler.ashx?f=m&n=pet&s=emm_epm0_pte_nus_dpg"

In [173]:
response = requests.get(url)

In [174]:
soup = BeautifulSoup(response.text, 'html.parser')

In [175]:
table = soup.find('table')

In [176]:
df = pd.read_html(str(table))[0]

C:\Users\jstew\AppData\Local\Temp\ipykernel_5832\1339507137.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

In [180]:
pip install xlrd openpyxl

Collecting xlrd
  Downloading xlrd-2.0.2-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: openpyxl in c:\users\jstew\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\jstew\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Downloading xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
   ---------------------------------------- 0.0/96.6 kB ? eta -:--:--
   ---------------------------------------- 0.0/96.6 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/96.6 kB ? eta -:--:--
   -------- ------------------------------- 20.5/96.6 kB 217.9 kB/s eta 0:00:01
   ---------------- ----------------------- 41.0/96.6 kB 279.3 kB/s eta 0:00:01
   ---------------------------------------- 96.6/96.6 kB 501.8 kB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [187]:
import pandas as pd

In [188]:
xls_file = 'gas-prices-weekly-data.xls'

In [189]:
df = pd.read_excel(xls_file, sheet_name='Data 1', skiprows=1)

In [191]:
df.head()

             Sourcekey                               EMM_EPM0_PTE_NUS_DPG
0                 Date  Weekly U.S. All Grades All Formulations Retail...
1  1993-04-05 00:00:00                                              1.068
2  1993-04-12 00:00:00                                              1.079
3  1993-04-19 00:00:00                                              1.079
4  1993-04-26 00:00:00                                              1.086

In [192]:
df.to_csv('gas-prices-weekly.csv', index=False)

In [193]:
import pandas as pd

In [200]:
import glob

In [203]:
files = glob.glob("tsa_data_*.csv")

In [205]:
print("Merging these files:", files)

Merging these files: ['tsa_data_2019.csv', 'tsa_data_2020.csv', 'tsa_data_2021.csv', 'tsa_data_2022.csv', 'tsa_data_2023.csv', 'tsa_data_2024.csv', 'tsa_data_2025.csv']

In [206]:
tsa_df = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)

In [211]:
tsa_df.to_csv("tsa_data_all_years.csv", index=False)

In [213]:
tsa_df.head()

         date  numbers
0  2019-01-01  2201765
1  2019-01-02  2424225
2  2019-01-03  2279384
3  2019-01-04  2230078
4  2019-01-05  2049460

In [214]:
import pandas as pd

In [221]:
df = pd.read_csv('tsa_data_all_years.csv')

In [224]:
df.head()

         date  numbers
0  2019-01-01  2201765
1  2019-01-02  2424225
2  2019-01-03  2279384
3  2019-01-04  2230078
4  2019-01-05  2049460

In [225]:
import pandas as pd

In [228]:
# Read TSA daily data

In [226]:
tsa = pd.read_csv('tsa_data_all_years.csv')

In [229]:
tsa['date'] = pd.to_datetime(tsa['date'])

In [233]:
# Rename columns

In [235]:
gas = pd.read_csv('gas-prices-weekly.csv', skiprows=1)

In [236]:
gas.columns = ['week_start', 'price']

In [237]:
gas['week_start'] = pd.to_datetime(gas['week_start'])

In [238]:
gas.head()

  week_start  price
0 1993-04-05  1.068
1 1993-04-12  1.079
2 1993-04-19  1.079
3 1993-04-26  1.086
4 1993-05-03  1.086

In [240]:
gas.to_csv('gas-prices-weekly.csv', index=False)

In [242]:
tsa.dtypes

date       datetime64[ns]
numbers             int64
dtype: object

In [243]:
gas.dtypes

week_start    datetime64[ns]
price                float64
dtype: object

In [244]:
gas = gas.sort_values('week_start')

In [245]:
tsa = tsa.sort_values('date')

In [246]:
tsa_gas_merged = pd.merge_asof(
    tsa,                # daily TSA data
    gas,                # weekly gas data
    left_on='date',     # TSA daily date
    right_on='week_start'  # weekly gas week start
)

In [247]:
tsa_gas_merged = tsa_gas_merged.drop(columns=['week_start'])

In [248]:
tsa_gas_merged.head()

        date  numbers  price
0 2019-01-01  2201765  2.358
1 2019-01-02  2424225  2.358
2 2019-01-03  2279384  2.358
3 2019-01-04  2230078  2.358
4 2019-01-05  2049460  2.358

In [249]:
tsa_gas_merged.to_csv("tsa_gas_merged", index=False)