# beautifulsoup for scraping tsa information

In [223]:
import requests

In [170]:
from bs4 import BeautifulSoup

In [171]:
import pandas as pd

In [172]:
url = "https://www.eia.gov/dnav/pet/hist/leafhandler.ashx?f=m&n=pet&s=emm_epm0_pte_nus_dpg"

In [173]:
response = requests.get(url)

In [174]:
soup = BeautifulSoup(response.text, 'html.parser')

In [175]:
table = soup.find('table')

In [176]:
df = pd.read_html(str(table))[0]

C:\Users\jstew\AppData\Local\Temp\ipykernel_5832\1339507137.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

In [ ]:
# use xlrd openxl to convert xls files to csv for gas prices

In [180]:
pip install xlrd openpyxl

Collecting xlrd
  Downloading xlrd-2.0.2-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: openpyxl in c:\users\jstew\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\jstew\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Downloading xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
   ---------------------------------------- 0.0/96.6 kB ? eta -:--:--
   ---------------------------------------- 0.0/96.6 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/96.6 kB ? eta -:--:--
   -------- ------------------------------- 20.5/96.6 kB 217.9 kB/s eta 0:00:01
   ---------------- ----------------------- 41.0/96.6 kB 279.3 kB/s eta 0:00:01
   ---------------------------------------- 96.6/96.6 kB 501.8 kB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [187]:
import pandas as pd

In [188]:
xls_file = 'gas-prices-weekly-data.xls'

In [189]:
df = pd.read_excel(xls_file, sheet_name='Data 1', skiprows=1)

In [ ]:
# viewing xls first 5 rows

In [191]:
df.head()

             Sourcekey                               EMM_EPM0_PTE_NUS_DPG
0                 Date  Weekly U.S. All Grades All Formulations Retail...
1  1993-04-05 00:00:00                                              1.068
2  1993-04-12 00:00:00                                              1.079
3  1993-04-19 00:00:00                                              1.079
4  1993-04-26 00:00:00                                              1.086

In [ ]:
# convert df to csv file

In [192]:
df.to_csv('gas-prices-weekly.csv', index=False)

In [ ]:
#using glob to combine all tsa csv files to one large file for all years

In [193]:
import pandas as pd

In [200]:
import glob

In [203]:
files = glob.glob("tsa_data_*.csv")

In [205]:
print("Merging these files:", files)

Merging these files: ['tsa_data_2019.csv', 'tsa_data_2020.csv', 'tsa_data_2021.csv', 'tsa_data_2022.csv', 'tsa_data_2023.csv', 'tsa_data_2024.csv', 'tsa_data_2025.csv']

In [206]:
tsa_df = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)

In [211]:
tsa_df.to_csv("tsa_data_all_years.csv", index=False)

In [ ]:
# viewing first 5 rows of tsa new csv file

In [213]:
tsa_df.head()

         date  numbers
0  2019-01-01  2201765
1  2019-01-02  2424225
2  2019-01-03  2279384
3  2019-01-04  2230078
4  2019-01-05  2049460

In [214]:
import pandas as pd

In [221]:
df = pd.read_csv('tsa_data_all_years.csv')

In [224]:
df.head()

         date  numbers
0  2019-01-01  2201765
1  2019-01-02  2424225
2  2019-01-03  2279384
3  2019-01-04  2230078
4  2019-01-05  2049460

In [225]:
import pandas as pd

In [228]:
# Read TSA daily data

In [226]:
tsa = pd.read_csv('tsa_data_all_years.csv')

In [ ]:
# using to_datetime to change type to datetime for tsa csv

In [229]:
tsa['date'] = pd.to_datetime(tsa['date'])

In [233]:
# Rename columns

In [235]:
gas = pd.read_csv('gas-prices-weekly.csv', skiprows=1)

In [ ]:
# changing gas csv column names for better reading

In [236]:
gas.columns = ['week_start', 'price']

In [ ]:
# using to_datetime to change type to datetime for gas csv

In [237]:
gas['week_start'] = pd.to_datetime(gas['week_start'])

In [ ]:
# viewing first five rows of gas csv

In [238]:
gas.head()

  week_start  price
0 1993-04-05  1.068
1 1993-04-12  1.079
2 1993-04-19  1.079
3 1993-04-26  1.086
4 1993-05-03  1.086

In [ ]:
# saving update gas csv

In [240]:
gas.to_csv('gas-prices-weekly.csv', index=False)

In [ ]:
# viewing tsa and gas data types

In [242]:
tsa.dtypes

date       datetime64[ns]
numbers             int64
dtype: object

In [243]:
gas.dtypes

week_start    datetime64[ns]
price                float64
dtype: object

In [ ]:
# sorting gas and tsa by date chronologically

In [244]:
gas = gas.sort_values('week_start')

In [245]:
tsa = tsa.sort_values('date')

In [ ]:
# merge tsa and gas csv to one csv

In [246]:
tsa_gas_merged = pd.merge_asof(
    tsa,                # daily TSA data
    gas,                # weekly gas data
    left_on='date',     # TSA daily date
    right_on='week_start'  # weekly gas week start
)

In [ ]:
# dropping week_start column

In [247]:
tsa_gas_merged = tsa_gas_merged.drop(columns=['week_start'])

In [248]:
tsa_gas_merged.head()

        date  numbers  price
0 2019-01-01  2201765  2.358
1 2019-01-02  2424225  2.358
2 2019-01-03  2279384  2.358
3 2019-01-04  2230078  2.358
4 2019-01-05  2049460  2.358

In [250]:
# renamed columns from numbers to passengers

In [251]:
tsa_gas_merged = tsa_gas_merged.rename(columns={'numbers': 'passengers'})

In [ ]:
# save tsa gas merged csv

In [252]:
tsa_gas_merged.to_csv('tsa_gas_merged.csv', index=False)

In [ ]:
# prophet for forecasting

In [253]:
pip install prophet

Collecting prophetNote: you may need to restart the kernel to use updated packages.

  Downloading prophet-1.1.7-py3-none-win_amd64.whl.metadata (3.6 kB)
Collecting cmdstanpy>=1.0.4 (from prophet)
  Downloading cmdstanpy-1.2.5-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: numpy>=1.15.4 in c:\users\jstew\anaconda3\lib\site-packages (from prophet) (1.26.4)
Requirement already satisfied: matplotlib>=2.0.0 in c:\users\jstew\anaconda3\lib\site-packages (from prophet) (3.8.0)
Requirement already satisfied: pandas>=1.0.4 in c:\users\jstew\anaconda3\lib\site-packages (from prophet) (2.2.1)
Collecting holidays<1,>=0.25 (from prophet)
  Downloading holidays-0.78-py3-none-any.whl.metadata (46 kB)
     ---------------------------------------- 0.0/46.6 kB ? eta -:--:--
     -------- ------------------------------- 10.2/46.6 kB ? eta -:--:--
     ------------------------- ------------ 30.7/46.6 kB 435.7 kB/s eta 0:00:01
     -------------------------------------- 46.6/46.6 kB 386.7 kB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.36.1 in c:\users\jstew\anaconda3\lib\site-packages (from prophet) (4.65.0)
Collecting importlib_resources (from prophet)
  Downloading importlib_resources-6.5.2-py3-none-any.whl.metadata (3.9 kB)
Collecting stanio<2.0.0,>=0.4.0 (from cmdstanpy>=1.0.4->prophet)
  Downloading stanio-0.5.1-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: python-dateutil in c:\users\jstew\anaconda3\lib\site-packages (from holidays<1,>=0.25->prophet) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\jstew\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\jstew\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jstew\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\jstew\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\jstew\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\jstew\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\jstew\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\jstew\anaconda3\lib\site-packages (from pandas>=1.0.4->prophet) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jstew\anaconda3\lib\site-packages (from pandas>=1.0.4->prophet) (2023.3)
Requirement already satisfied: colorama in c:\users\jstew\anaconda3\lib\site-packages (from tqdm>=4.36.1->prophet) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\jstew\anaconda3\lib\site-packages (from python-dateutil->holidays<1,>=0.25->prophet) (1.16.0)
Downloading prophet-1.1.7-py3-none-win_amd64.whl (13.3 MB)
   ---------------------------------------- 0.0/13.3 MB ? eta -:--:--
    --------------------------------------- 0.2/13.3 MB 3.9 MB/s eta 0:00:04
   - -------------------------------------- 0.4/13.3 MB 3.9 MB/s eta 0:00:04
   - -------------------------------------- 0.6/13.3 MB 4.4 MB/s eta 0:00:03
   --- ------------------------------------ 1.0/13.3 MB 5.5 MB/s eta 0:00:03
   ---- ----------------------------------- 1.4/13.3 MB 6.0 MB/s eta 0:00:02
   ----- ---------------------------------- 1.9/13.3 MB 6.3 MB/s eta 0:00:02
   ------- -------------------------------- 2.4/13.3 MB 7.1 MB/s eta 0:00:02
   ------- -------------------------------- 2.5/13.3 MB 7.2 MB/s eta 0:00:02
   --------- ------------------------------ 3.0/13.3 MB 7.1 MB/s eta 0:00:02
   ----------- ---------------------------- 3.7/13.3 MB 7.6 MB/s eta 0:00:02
   ------------ --------------------------- 4.2/13.3 MB 7.9 MB/s eta 0:00:02
   -------------- ------------------------- 4.9/13.3 MB 8.5 MB/s eta 0:00:01
   ----------------- ---------------------- 5.7/13.3 MB 9.1 MB/s eta 0:00:01
   ------------------- -------------------- 6.3/13.3 MB 9.4 MB/s eta 0:00:01
   ---------------------- ----------------- 7.5/13.3 MB 10.4 MB/s eta 0:00:01
   ------------------------ --------------- 8.0/13.3 MB 10.7 MB/s eta 0:00:01
   ------------------------- -------------- 8.6/13.3 MB 10.7 MB/s eta 0:00:01
   --------------------------- ------------ 9.3/13.3 MB 10.8 MB/s eta 0:00:01
   ------------------------------- -------- 10.4/13.3 MB 11.9 MB/s eta 0:00:01
   ---------------------------------- ----- 11.5/13.3 MB 13.9 MB/s eta 0:00:01
   ------------------------------------ --- 12.2/13.3 MB 14.2 MB/s eta 0:00:01
   ---------------------------------------  13.3/13.3 MB 16.4 MB/s eta 0:00:01
   ---------------------------------------  13.3/13.3 MB 16.4 MB/s eta 0:00:01
   ---------------------------------------  13.3/13.3 MB 16.4 MB/s eta 0:00:01
   ---------------------------------------- 13.3/13.3 MB 13.9 MB/s eta 0:00:00
Downloading cmdstanpy-1.2.5-py3-none-any.whl (94 kB)
   ---------------------------------------- 0.0/94.5 kB ? eta -:--:--
   ---------------------------------------- 94.5/94.5 kB 2.7 MB/s eta 0:00:00
Downloading holidays-0.78-py3-none-any.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ------------------------ --------------- 0.7/1.2 MB 48.5 MB/s eta 0:00:01
   ---------------------------------------  1.2/1.2 MB 19.0 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 15.2 MB/s eta 0:00:00
Downloading importlib_resources-6.5.2-py3-none-any.whl (37 kB)
Downloading stanio-0.5.1-py3-none-any.whl (8.1 kB)
Installing collected packages: stanio, importlib_resources, holidays, cmdstanpy, prophet
Successfully installed cmdstanpy-1.2.5 holidays-0.78 importlib_resources-6.5.2 prophet-1.1.7 stanio-0.5.1

In [277]:
from prophet import Prophet

In [290]:
model = Prophet(yearly_seasonality=True, weekly_seasonality=True)

In [291]:
model.fit(tsa_df)

20:51:31 - cmdstanpy - INFO - Chain [1] start processing
20:51:32 - cmdstanpy - INFO - Chain [1] done processing

In [292]:
future = model.make_future_dataframe(periods=20)

In [293]:
forecast = model.predict(future)

In [297]:
forecast[['ds','yhat','yhat_lower','yhat_upper']].tail(21)

             ds          yhat    yhat_lower    yhat_upper
2417 2025-08-14  2.723999e+06  2.486343e+06  2.973343e+06
2418 2025-08-15  2.760592e+06  2.505638e+06  3.004229e+06
2419 2025-08-16  2.416302e+06  2.163216e+06  2.662827e+06
2420 2025-08-17  2.730065e+06  2.495935e+06  2.976075e+06
2421 2025-08-18  2.642867e+06  2.387578e+06  2.878395e+06
2422 2025-08-19  2.314934e+06  2.053618e+06  2.558438e+06
2423 2025-08-20  2.393428e+06  2.140778e+06  2.638738e+06
2424 2025-08-21  2.635371e+06  2.385566e+06  2.890792e+06
2425 2025-08-22  2.678491e+06  2.445300e+06  2.917516e+06
2426 2025-08-23  2.341193e+06  2.091880e+06  2.566111e+06
2427 2025-08-24  2.662217e+06  2.428998e+06  2.921256e+06
2428 2025-08-25  2.582358e+06  2.342086e+06  2.812075e+06
2429 2025-08-26  2.261655e+06  2.028738e+06  2.508808e+06
2430 2025-08-27  2.347092e+06  2.092872e+06  2.605531e+06
2431 2025-08-28  2.595534e+06  2.354924e+06  2.851448e+06
2432 2025-08-29  2.644570e+06  2.393728e+06  2.881975e+06
2433 2025-08-30  2.312493e+06  2.082577e+06  2.546494e+06
2434 2025-08-31  2.637960e+06  2.408434e+06  2.871157e+06
2435 2025-09-01  2.561711e+06  2.313244e+06  2.797798e+06
2436 2025-09-02  2.243763e+06  2.000714e+06  2.485233e+06
2437 2025-09-03  2.331111e+06  2.099385e+06  2.581649e+06

In [300]:
predicted_passengers = int(forecast[forecast['ds']=='2025-08-14']['yhat'].values[0])

In [301]:
print(predicted_passengers)

2723999