In [161]:
import requests

In [170]:
from bs4 import BeautifulSoup

In [171]:
import pandas as pd

In [172]:
url = "https://www.eia.gov/dnav/pet/hist/leafhandler.ashx?f=m&n=pet&s=emm_epm0_pte_nus_dpg"

In [173]:
response = requests.get(url)

In [174]:
soup = BeautifulSoup(response.text, 'html.parser')

In [175]:
table = soup.find('table')

In [176]:
df = pd.read_html(str(table))[0]

C:\Users\jstew\AppData\Local\Temp\ipykernel_5832\1339507137.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

In [180]:
pip install xlrd openpyxl

Collecting xlrd
  Downloading xlrd-2.0.2-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: openpyxl in c:\users\jstew\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\jstew\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Downloading xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
   ---------------------------------------- 0.0/96.6 kB ? eta -:--:--
   ---------------------------------------- 0.0/96.6 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/96.6 kB ? eta -:--:--
   -------- ------------------------------- 20.5/96.6 kB 217.9 kB/s eta 0:00:01
   ---------------- ----------------------- 41.0/96.6 kB 279.3 kB/s eta 0:00:01
   ---------------------------------------- 96.6/96.6 kB 501.8 kB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [187]:
import pandas as pd

In [188]:
xls_file = 'gas-prices-weekly-data.xls'

In [189]:
df = pd.read_excel(xls_file, sheet_name='Data 1', skiprows=1)

In [191]:
df.head()

             Sourcekey                               EMM_EPM0_PTE_NUS_DPG
0                 Date  Weekly U.S. All Grades All Formulations Retail...
1  1993-04-05 00:00:00                                              1.068
2  1993-04-12 00:00:00                                              1.079
3  1993-04-19 00:00:00                                              1.079
4  1993-04-26 00:00:00                                              1.086

In [192]:
df.to_csv('gas-prices-weekly.csv', index=False)